<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://drive.google.com/drive/u/0/folders/1JROU8GZbQc5BqxILqRaI1bka8iiwU60i">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:shubhamswork@gmail.com">email</a></li>
	        		<li><a href="https://github.com/sayonshubham">github.com/sayonshubham</a></li>
				</ul>
			</footer>
		</body>
	</html>
